[build]
  base = "frontend"
  command = "yarn install && yarn build"
  publish = "build"

[build.environment]
  NODE_VERSION = "20"
  YARN_FLAGS = "--ignore-engines"

[[headers]]
  for = "/static/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200